#canvas1 {
	background-color:#FFFFFF;
}
iframe
{
	height:150px;
}

.wordSelected
{
	color:green;
	font-weight:bold;
}
.wordPlaying
{
	text-decoration: underline;
}


#lyrics
{
	border: 1px solid black;
	width:800px;
	height:100px;
	font-size:30px;
	background-color:red;
	opacity:0.5;
	overflow-y:scroll;
	
	
}
#wordInfo
{
	width:400px;
	height:200px;
	border:1px solid black;
	display:none;
}
#canvasContainer
{
	border:1px solid black;
	width:800px;
	height:315px;
}




#currentWord
{
	display:none;
	border: 2px solid blue;
	width:200px;
	height:200px;
	font-size:30px;
	background-color:red;
	opacity:0.5;
	
}
#fps
{
	display:none;
}

.hiddenTab
{
	display:none;
}
.visibleTab
{
	display:block;
}

#newTab
{
	
}
#currentTab
{
	
}
#loadTab
{
	
}


